In [2]:
import pandas as pd

In [4]:
!ls

Aleezay Batch 1.xlsx
Aleezay Batch 2.xlsx
Eman Batch 1.xlsx
Example Batches.xlsx
Fatima 4.xlsx
Fatima Batch 1.xlsx
Fatima Batch 2 !.xlsx
Fatima Batch 3.xlsx
Hassam Batch 1.xlsx
Hassam Batch 2.xlsx
Hassam Batch 3.xlsx
Hassam Batch 4.xlsx
Hassam Batch 5.xlsx

In [10]:
df1=pd.read_excel('audio_data/Aleezay Batch 1.xlsx')
df1.rename(columns = {'Unnamed: 2':'sentence'}, inplace = True)

In [15]:
df2=pd.read_excel('audio_data/Aleezay Batch 2.xlsx')
df2.rename(columns = {'Unnamed: 1':'sentence'}, inplace = True)

In [18]:
df3=pd.read_excel('audio_data/Eman Batch 1.xlsx')
df3.rename(columns = {'Unnamed: 1':'sentence'}, inplace = True)

In [25]:
df4=pd.read_excel('audio_data/Example Batches.xlsx')
df4.rename(columns = {' ':'sentence'}, inplace = True)

In [36]:
df5=pd.read_excel('audio_data/Fatima 4.xlsx')
df5.rename(columns = {'Unnamed: 1':'sentence'}, inplace = True)

In [40]:
df6=pd.read_excel('audio_data/Fatima Batch 1.xlsx')
df6.rename(columns = {'Unnamed: 2':'sentence'}, inplace = True)

In [44]:
df7=pd.read_excel('audio_data/Fatima Batch 2 !.xlsx')
df7.rename(columns = {'Unnamed: 1':'sentence'}, inplace = True)

In [51]:
df8=pd.read_excel('audio_data/Fatima Batch 3.xlsx')
df8.rename(columns = {'Unnamed: 1':'sentence'}, inplace = True)

In [60]:
df9=pd.read_excel('audio_data/Hassam Batch 1.xlsx')
df9.rename(columns = {'Unnamed: 2':'sentence'}, inplace = True)

In [61]:
df10=pd.read_excel('audio_data/Hassam Batch 2.xlsx')
df10.rename(columns = {'Unnamed: 2':'sentence'}, inplace = True)

In [62]:
df11=pd.read_excel('audio_data/Hassam Batch 3.xlsx')
df11.rename(columns = {'Unnamed: 2':'sentence'}, inplace = True)

In [65]:
df12=pd.read_excel('audio_data/Hassam Batch 4.xlsx')
df12.rename(columns = {'Unnamed: 1':'sentence'}, inplace = True)

In [69]:
df12=pd.read_excel('audio_data/Hassam Batch 5.xlsx')
df12.rename(columns = {'Unnamed: 1':'sentence'}, inplace = True)

In [71]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

In [73]:
df_final=pd.DataFrame()

In [74]:
df

,Number,Links,sentence,Unnamed: 3,Unnamed: 2,Link,Unnamed: 4,Unnamed: 1
0,4.345634e+09,http://testing.avatarpro.co.uk/RECORDINGS/MP3/...,Hello. Hello. Hi this is Amy with American Sen...,NaN,NaN,NaN,NaN,NaN
1,4.402569e+09,http://testing.avatarpro.co.uk/RECORDINGS/MP3/...,Hello. Hello. Hi this is Amy with American Sen...,NaN,NaN,NaN,NaN,NaN
2,9.378383e+09,http://testing.avatarpro.co.uk/RECORDINGS/MP3/...,Hello. Hello. Hi this is Amy with American Sen...,Uncertainty,NaN,NaN,NaN,NaN
3,2.543005e+09,http://testing.avatarpro.co.uk/RECORDINGS/MP3/...,Hello. Hello. Yes. Hi this is Amy with America...,NaN,NaN,NaN,NaN,NaN
4,2.524387e+09,http://testing.avatarpro.co.uk/RECORDINGS/MP3/...,Hello. Hi this is Amy with American Senior Cit...,Uncertainty,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
492,NaN,http://testing.avatarpro.co.uk/RECORDINGS/MP3/...,Hello. Yes. My name is Becky from Senior Benef...,NaN,NaN,NaN,NaN,NaN
493,NaN,http://testing.avatarpro.co.uk/RECORDINGS/MP3/...,Hello. Hello. yes what do you what do you want...,NaN,NaN,NaN,NaN,NaN
494,NaN,http://testing.avatarpro.co.uk/RECORDINGS/MP3/...,Hello. Hello who's this. My name is Becky from...,NaN,NaN,NaN,NaN,NaN
495,NaN,http://testing.avatarpro.co.uk/RECORDINGS/MP3/...,Hello. Yes hello. My name is Becky from Senior...,NaN,NaN,NaN,NaN,NaN
496,NaN,http://testing.avatarpro.co.uk/RECORDINGS/MP3/...,Hello. (IA). My name is Becky from Senior Bene...,NaN,NaN,NaN,NaN,NaN

In [78]:
df_final['link']=df['Links']

In [79]:
df_final['sentence']=df['sentence']

In [81]:
df_final.dropna(inplace=True)

In [83]:
df_final.shape

(4276, 2)

In [84]:
df_final.to_csv('audio_data_links.csv',index=False)

README.md
audio_data
audio_data_links.csv
audio_data_preprocessing.ipynb
inference
practice_notebook
requirements.txt
visualization_app